<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>{#doc->title}</title>
		{if #doc->author.len != 0}
			<meta name="author" content="{#doc->author}" />
		{end}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="{#base}/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div id="book">
			<h1 class="title">{#doc->title}</h1>

			{if #doc->subtitle.len != 0}
				<h1 class="subtitle">{#doc->subtitle}</h1>
			{end}

			{if #doc->author.len != 0}
				<h2 class="author">{#doc->author}</h2>
			{end}

			{if #doc->toc.len != 0}
				<h2><a href="#toc" name="toc">{#doc->toc}</a></h2>
				<ol>
					{for $chapter in #doc->chapters}
						<li><a href="#{$chapter->title}">{$chapter->title}</a><br /></li>
					{end}
				</ol>
			{end}

			{for $chapter in #doc->chapters}
				<h2><a href="#{$chapter->title}" name="{$chapter->title}">{~getNumber $_chapter, #doc->chapters} {$chapter->title}</a></h2>

				{block bodyEntry &$chapter->body}

				{for $section in $chapter->sections}
					<h3>{~getNumber $_chapter, #doc->chapters}.{~getNumber $_section, $chapter->sections} {$section->title}</h3>

					{block bodyEntry &$section->body}
				{end}
			{end}
		</div>
	</body>
</html>
