<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>{#doc->title}</title>
		{if #doc->author.len != 0}
			<meta name="author" content="{#doc->author}" />
		{end}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="{#base}/style.css" rel="stylesheet" type="text/css" />
		{if #doc->math}
			<script type="text/x-mathjax-config">
				MathJax.Hub.Config(\{
					tex2jax: \{
						inlineMath: \[ \['$','$'], \['\\\\(','\\\\)'] ],
						processEscapes: true
					}
				});
			</script>
			<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
		{end}
	</head>

	<body>
		<div id="book">
			<h1 class="title">{#doc->title}</h1>

			{if #doc->subtitle.len != 0}
				<h1 class="subtitle">{#doc->subtitle}</h1>
			{end}

			{if #doc->author.len != 0}
				<h2 class="author">{#doc->author}</h2>
			{end}

			{if #doc->toc.len != 0}
				<h2><a href="#toc" name="toc">{#doc->toc}</a></h2>
				<ol>
					{for $chapter in #doc->chapters}
						<li><a href="#ch{~getNumber $_chapter, #doc->chapters}">{$chapter->title}</a><br /></li>
					{end}
				</ol>
			{end}

			{for $chapter in #doc->chapters}
				<h2><a href="#ch{~getNumber $_chapter, #doc->chapters}" name="ch{~getNumber $_chapter, #doc->chapters}">{~getNumber $_chapter, #doc->chapters} {$chapter->title}</a></h2>

				{block bodyEntry &$chapter->body}

				{for $section in $chapter->sections}
					<h3><a href="#ch{~getNumber $_chapter, #doc->chapters}.{~getNumber $_section, $chapter->sections}" name="ch{~getNumber $_chapter, #doc->chapters}.{~getNumber $_section, $chapter->sections}">{~getNumber $_chapter, #doc->chapters}.{~getNumber $_section, $chapter->sections} {$section->title}</a></h3>

					{block bodyEntry &$section->body}
				{end}
			{end}

			{if #doc->footnotes->len != 0}
				<div class="footnotes">
					<ol>
						{for $footnote in #doc->footnotes}
							<li id="fn{~getNumber $_footnote, #doc->footnotes}">
								{block bodyEntry $footnote}
								<a class="arrow" href="#fnref{~getNumber $_footnote, #doc->footnotes}">&#8617;</a>
							</li>
						{end}
					</ol>
				</div>
			{end}
		</div>
	</body>
</html>
